@model PaymentAccept

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5 d-flex justify-content-center">
    <form asp-action="PaymentAccept" method="post">
        <h1 class="text-center">يرجى إدخال بطاقة الدفع لإعتمادها</h1>
    <div class="row d-flex">
        <div class="col">
            <input asp-for="@Model.Payment" class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.Payment"></span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <button type="submit" class="btn btn-primary">حفظ</button>
        </div>
    </div>
    </form>
</div>
